/* ========================
    NORMALIZING LANDING PAGE
=========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ========================
   STYLING THE NAV
=========================== */
body {
    line-height: 1.5;
    margin: 0 10px;
    /* width: 50%; */
    /* border: 2px solid red; */
    padding: 10px 100px;
}
header img {
    width: auto;
}
header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    /*  */
}
header a {
    margin: 5px;
    text-decoration: none;
    color: #000;
    display: inline-block;
}
header a:hover {
    text-decoration: underline;
    color: #382DB9;
}
nav a:nth-child(5) {
    background-color: #6C63FF;
    color: white;
    border-radius: 50px;
    width: 5rem;
    text-align: center;
}
section img {
    width: 500px;
}
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main h1 {
    text-transform: uppercase;
    font-weight: 200px; 
}
main a {
    display: inline-block;
    width: 7rem;
    background-color: #6C63FF;
    color: white;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 10px;
}
